/* global */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #b6b6b6;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    max-width: 100%;
}

/* header */
.header {
    padding: 17px 0;
    color: #95E1D3;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_list {
    display: flex;
    column-gap: 55px;
    font-family: 'Montserrat', sans-serif;
}

.menu_list li {
    text-transform: uppercase;
}

.menu_list a {
    transition: color 0.5s;
    display: block;
}

.menu_list a::after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: #F38181;
    transition: width .5s;
}

.menu_list a:hover {
    color: #F38181;
}

.menu_list a:hover::after {
    width: 100%;
}

.custom {
    list-style: none;
}

.custom li::before {
    content: '\2714';
    margin-right: 15px;
    color: #95E1D3;
}

/* services */
.section-title {
    text-align: center;
}

.section-title .uptitle {
    margin: 0;
    font-family: 'Kaushan Script', sans-serif;
    font-size: 24px;
    line-height: 35px;
    color: #333333;
}

.section-title h2 {
    margin: 20px 0 40px;
    font-size: 30px;
    line-height: 37px;
    font-variant: small-caps;
}

.section-title hr {
    width: 60px;
    height: 4px;
    margin: 0 auto;
    background: #F38181;
    border: none;
}

.services-list {
    margin-top: 65px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 100px;
}

.services-item {
    width: 33.333%;
    padding: 0 35px;
    display: flex;
    align-items: flex-start;
    column-gap: 20px;
}

.services-item img {
    width: 38px;
}

.services-item h3 {
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

/* Team */

.team_list {
    --cgap: 30px;
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--cgap);
    text-align: center;
}

.team_member {
    width: calc(33.333% - 60px / 3);
}

.team_member h3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-variant: small-caps;
}

.img_wrapper {
    position: relative;
}

.img_wrapper::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -10px;
    left: -10px;
    background: linear-gradient(180deg, rgba(239, 139, 138, 0.8) 0%, rgba(229, 207, 130, 0.8) 100%);
    opacity: 0;
    transition: opacity .5s;
}

.img_wrapper:hover::before {
    opacity: 1;
}

.img_wrapper img {
    display: block;
}

.social_list {
    display: flex;
    position: absolute;
    column-gap: 1px;
    top: calc(50% - 57px / 2);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity .5s;
}

.img_wrapper:hover .social_list {
    opacity: 1;
}

.social_item {
    height: 57px;
    width: 57px;
    background:#FCE38A;
    transition: background .5s;
}

.social_item:hover {
   background:#95E1D3;
}


.social_link{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.social_link img {
    width: 26px;
}


.footer_email {
    display: flex;
    position: absolute;
    justify-content: space-between;   
    width: 1200px;
    left: 360px;
    top: 1558px;
}

.footer_hr {
    color: #B6B6B6;
    width: 1200px;
    height: 1px;
}

input {
    width: 230px;
    height: 39px;
    border-color: #B6B6B6;
}

button {
    background: #95E1D3;
    border: none;
    color: white;
    width: 150px;
    height: 40px;
}

.footer_email p {
    color: black;
}